/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/01/2017, 12:58:53
    Author     : romario
*/

a{
    color: white;
}
.imgthumbnail{
 
    background-color:#0089cd;
    color: white
}
.home-fa{
    font-size: 70px;
    color: white;
   
   
}


